.gitignore.bak
./venv
venv/*
dist/*
build/*
reports/*
*.pyc
.coverage*
.mypy_cache*
.pytest_cache*
__pycache__
*.egg-info
dist
dist/*
*.pyc
__pycache__
.DS_Store
.cursor
.cursor.old
.cursor/*
.cursorignore
.claude
.claude/*
.claudeignore
AGENTS.md
AGENTS.md.old
non_cursor_AGENTS.md
*.docx
*.odt
*.dvi
*.aux
*.log
*.out
*.log
*.pdf
*.xlsx
example/result/*
dep_libs_doc/*
